/* Quitar imagen de fondo en Servicios */
body.servicios {
    background-image: none !important;
}

/* Video de fondo para Servicios */
#bg-video-servicios {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    filter: none;
}

/* Tipografías para títulos estilo barbería */
h1, h2, h3 {
    font-family: 'Lexend Mega', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Registro container (página Registro.html) */
.registro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background: transparent;
}

.registro-box {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    margin: 6% auto 0 auto;
    padding: 20px 28px;
    border-radius: 12px;
    width: 450px;
    min-height: 440px;
    max-width: 900px;
    color: white;
    box-shadow: 0 0 10px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

/* botón en registro */
.registro-box button {
    background-color: #4d59b9;
    border: none;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
    width: 375px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.registro-box button:hover {
    background-color: #363d88;
    padding-bottom: 12px;
}

/* inputs en registro */
.registro-box input[type="text"],
.registro-box input[type="email"],
.registro-box input[type="password"] {
    width: 50%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: rgba(255,255,255,0.04);
    color: #fff;
    font-size: 12px;
    box-sizing: border-box;
}

.registro-box button {
    width: 100%;
}
